.container{
  display: flex;
  background: #fff;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  width: 50%;
  max-width: 700px;
  margin: 20px 0;
  padding: 20px 0;
  box-shadow: 3px 3px 2px 1px rgba(2, 112, 155, 0.438);
}

.condition{
  /* background: red; */
  display: flex;
  min-height: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.icon{
  margin: auto;
}

.text{
  margin: auto;
}